@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: rock;
    src: url(./fonts/Demo_Fonts/Fontspring-DEMO-rocgrotesk-regular.otf) format("opentype");
}

@font-face {
    font-family: alga;
    src: url(./fonts/fonts/fonnts.com-Alga-.otf);
}

html,
body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(58, 54, 58), rgb(154, 146, 160));
    min-height: 100dvh;
    overflow-x: hidden;
}

.main-content.wrapper {
    max-height: 100%;
    padding-top: 1.5rem;
    animation: fadeIn 1s ease-in-out 1 both;
}

@keyframes fadeIn {

    0%{
        opacity: 0;
        transform: scale(1.1);
        
    }
    50%{
        opacity: 0.33;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.main-content.one {
    margin: 0 1.5rem;
    height: 70dvh;
    background-image: url("./assets/background-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo-container,
.right-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container>img {
    width: 6vw;
    transition: transform 0.5s ease-in-out;
}

.logo-container>img:hover {
    transform: scale(1.2);
}

button {
    margin: 0;
    font-family: "rock", sans-serif;
    font-weight: 900;
}

.top-buttons {
    display: flex;
    background-color: rgba(58, 58, 58, 0.664);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px rgb(255, 255, 255);
}

.top-buttons>button {
    all: unset;
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-family: "rock", sans-serif;
    font-weight: 400;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.top-buttons>button:hover {
    background-color: rgba(58, 58, 58, 0.802);
}

.right-button {
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.right-button:hover, .bottom:hover {
    background-color: rgb(143, 143, 143);
}

@media screen and (max-width: 500px) {
    .top-buttons {
        border-radius: 60px;
    }

    .top-buttons>button,
    .right-button {
        font-size: 2vw;
        padding: 10px 20px;
        border-radius: 60px;
    }

    .hero-text {
        font-size: 5vw;
    }

    .hero-description {
        font-size: 3vw;
    }
}

@media screen and (max-width: 1080px) {
    .top-buttons {
        border-radius: 60px;
    }

    .top-buttons>button,
    .right-button {
        font-size: 1.75vw;
        padding: 10px 20px;
        border-radius: 60px;
    }

    .hero-text {
        font-size: 4vw;
    }

    .hero-description {
        font-size: 2vw;
    }

    .bottom {
        font-size: 1.75vw;
        border-radius: 60px;
    }
}

@media screen and (min-width: 1080px) {
    .top-buttons {
        border-radius: 60px;
    }

    .top-buttons>button {
        font-size: 1.5vw;
        padding: 10px 30px;
        border-radius: 60px;
    }

    .right-button {
        font-size: 1.5vw;
    }

    .hero-text {
        font-size: 3vw;
    }

    .hero-description {
        font-size: 1.5vw;
    }

    .bottom {
        font-size: 1.25vw;
        border-radius: 60px;
    }
}

main {
    margin-left: 30px;
}

.hero-section {
    font-family: alga, sans-serif;
    color: white;
    width: fit-content;
    margin-left: 2px;
    text-shadow: 1px 1px 2px black;
}

.hero-description {
    color: white;
    width: fit-content;
    margin-left: 2px;

}

p {
    margin: 15px 0px;
}

.bottom {
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 60px;
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.prof {
    width: 3vw;
}